#plot {
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.plot-wrapper {
    box-shadow: 0px 5px 15px 0px #ebafb352;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ebafb367;
    flex: 1;
}

.note-wrapper {
    position: absolute;
    top: 0;
    padding: 10px;
}

.note {
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.279);
    border-radius: 12px;
    box-shadow: 0px 8px 30px 0px #0000003b;
}

.plot-wrapper .gh-tags {
    position: absolute;
    bottom: 0;
    padding: 10px;
}
