* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

html {
    position: relative;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
}

.app {
    margin: 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shifted,
header {
    margin-left: 8px;
}

h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.button {}

.gh-button {
    font-weight: bold;
}

.button:hover {
    /* transform: scale(1.02);
    box-shadow: 0px 8px 30px 0px #00000032; */
}

.button:active {
    /* transform: scale(0.98);
    box-shadow: 0px 8px 30px 0px #0000000d; */
}

.ambiance {
    position: fixed;
    width: 1000px;
    height: 120px;
    z-index: -1;
    opacity: 1;
    background: url('/flower.png') no-repeat center center;
    background-size: cover;
    background-size: 100% 100%;
    filter: blur(60px) hue-rotate(180deg);
    opacity: 0.45;
}

#ambiance-top-left {
    top: 0;
    left: 0;
    background-position: -700px;
}

#ambiance-bottom-right {
    right: 0;
    bottom: 0;
    background-position: 700px;
}

h1 {
    font-size: 2em;
    margin-bottom: -2px;
    margin-top: -10px;
}

h2 {
    font-size: 1em;
    font-weight: normal;
}

nav {
    display: flex;
    gap: 20px;
}

.gradient-descent {
    grid-column: 1 / -1;
    height: 400px;
    display: flex;
}

.gh {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-items: stretch;
    margin-bottom: 1em;
}

.gh-title {
    font-weight: bold;
    margin-bottom: 0.2em;
}

.gh-description {
    font-size: 0.9em;
}

.gh-link {
    text-decoration: none;
}

.gh-entry {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    background-color: white;
    border-radius: 18px;
    backdrop-filter: blur(20px);
    position: relative;
    padding: 15px 20px;
    border: 1px solid #afd5eb67;
    cursor: pointer;
    transition: all ease-in-out .1s;
    overflow: hidden;
    box-shadow: 0px 5px 8px 0px rgba(175, 213, 235, 0.1), inset 0 0 20px rgb(255, 255, 255);
}

.gh-entry:hover {
    transform: scale(1.01);
    border: 1px solid #afd5eb78;
    box-shadow: 0px 5px 15px 0px rgba(175, 213, 235, 0.2), inset 0 0 20px rgb(255, 255, 255);
}

.gh-entry:active {
    transform: scale(0.99);
    box-shadow: 0px 5px 15px 0px rgba(175, 213, 235, 0), inset 0 0 10px rgba(175, 213, 235, 0.816);
    border: 1px solid #afd5eb9b;
}

.gh-title-date {
    display: flex;
    gap: 5px;
    align-items: center;
}

.gh-date,
.gh-hyphen {
    font-size: 0.8em;
}

.gh-entry:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/flower.png') no-repeat center center;
    background-size: 1200px 500px;
    background-position: -300px -30px;
    z-index: -1;
    opacity: 0.4;
    filter: blur(20px) hue-rotate(180deg);
    transition: all ease-in-out .2s;
}

.gh-entry:hover::before {
    opacity: 0.5;
    background-position: -350px -40px;
}

.gh-entry:active::before {
    opacity: 0.22;
    background-position: -450px -50px;
}

.gh-tags {
    display: flex;
    font-size: 0.7em;
    gap: 5px;
    flex-wrap: wrap;
}

.gh-tag {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0.1em 0.5em;
    border-radius: 6px;
}

@media (max-width: 1000px) {

    html,
    body {
        font-size: 12pt;
    }

    .gh {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .app {
        margin: 30px 20px;
        gap: 30px;
    }

    html,
    body {
        font-size: 10pt;
    }

    .gh {
        grid-template-columns: repeat(1, 1fr);
    }
}